table {
  width: 100%;
}
  
.mat-cell {
  text-align: center;
  white-space: nowrap;
}

.mat-header-row .mat-header-cell {
  padding-right: 20px;
}

.mat-header-cell {
  border-right: 5px solid #ccc;
  text-align: center;
}

.mat-cell {
  border-right: 5px solid #ccc;
}

.mat-column-countryId,
.mat-cell:last-child,
.mat-header-cell:last-child {
  border-right: none;
}