<h2>Hotels in this Country:</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.name }}</td>
  </ng-container>

  <ng-container matColumnDef="starsRating">
    <th mat-header-cell *matHeaderCellDef>Rating</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.starsRating }}</td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Comment</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.comment }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let hotel">{{ hotel.address }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let hotel">
      <button mat-icon-button color="warn" (click)="onDeleteHotel(hotel)">
        <mat-icon>delete</mat-icon>
        <img [src]="getTrashIconUrl()" alt="Trash Icon">
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'starsRating', 'comment', 'address', 'delete']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'starsRating', 'comment', 'address', 'delete']"></tr>
</table>
